---
import Google from "@auth/core/providers/google";
import Plantilla from "../layouts/Plantilla.astro";
import { SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
console.log(session);
---

<Plantilla>
  <main class="mt-56 flex flex-col justify-center items-center">
    <h2 class="text-4xl">Bienvenido al mayor diario de Circulacion Mundial</h2>
    <article class="mt-20 flex justify-evenly gap-12">
      <div>
        {
          session ? (
            <>
              <img src={session.user.image} alt={session.user.name} />
              <h2>Bienvenido: {session.user.name}</h2>
              <SignOut>Salir</SignOut>
            </>
          ) : (
            <SignIn provider={Google}>Registrate con Google</SignIn>
          )
        }
      </div>
    </article>
  </main>
</Plantilla>
